<div class="container">
  <h2 class="white-title">My Dashboard</h2>

  <!-- user profile card + motivational quote -->
  <div class="row">
    <div class="col-4">
      <div class="d-flex card-profile justify-content-center my-4 p-3" style="width: 100%">
        <div class="text-center" >
            <% if @user_profile.photo.attached? %>
              <%= cl_image_tag @user_profile.photo.key, class: "img-profile"  %>
            <% else %>
              <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class: "avatar-square" %>
            <% end %>

          <h3 class="my-3">Hi <%= @user_profile.first_name  %>!</h3>
          <p class="mb-2"><%= @user_profile.school_name %> </p>
          <p class="mb-10"><%= @user_profile.school_year %> </p>
        <%= link_to "Edit Profile" , user_profiles_edit_path, class: "btn-main btn-small" %>
        </div>
      </div>
    </div>
    <div class="col-8 text-center d-flex justify-content-center flex-column">
      <p class="motivation-quote">"<%= @quote["text"] %>"</p>
      <p class="quote-author">-<%= @quote["author"] %>-</p>
    </div>
  </div>

  <!-- subject section with 4 subject cards -->
  <div class="row">
    <div class="text-left white-title">
      <h3>My Subjects</h3>
    </div>
    <div class="d-flex justify-content-between py-2">
      <%# colors = ["#E1D2FE","#BAE5F4","#CCF0C0","#FFEB7F"] %>
      <% current_user.subjects.each do |subject| %>
        <%# color = colors.pop() %>
        <%= render 'shared/subject_card', color: subject.color, subject:subject %>
      <% end %>
    </div>
  </div>

  <!-- test history card + test results card -->
  <div class="row justify-content-between mt-5 text-start">
    <div class="col-6">
      <h3 class="my-2 white-title">My Test History</h2>
      <div class="">
        <% current_user.tests.each do |test| %>
          <%= render 'shared/test_card', test: test %>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <h3 class="my-2 white-title">My Test Results</h2>
      <div class="card">
        <%= image_tag "https://www.researchgate.net/publication/333924108/figure/fig1/AS:772216044154882@1561122060758/The-bar-chart-of-the-average-test-scores-of-the-experimental-and-control-groups-We-can.png", class:"overall-results-image" %>
      </div>
    </div>
  </div>
</div>
