<div class="container">
  <h2 class="white-title">My Dashboard</h2>

  <!-- user profile card + motivational quote -->
  <div class="row">
    <div class="col-3">
      <div class="d-flex card-profile justify-content-center my-4 p-3" style="width: 100%">
        <div class="text-center" >
            <% if current_user.user_profile.photo.attached? %>
              <%= cl_image_tag(current_user.user_profile.photo.key, :transformation=>[
                              {:gravity=>"face", :height=>200, :width=>200, :crop=>"fill"}
                              ], class: "img-profile border border-2 border-secondary") %>
            <% else %>
              <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class: "avatar-square" %>
            <% end %>

          <h3 class="my-3">Hi <%= current_user.user_profile.first_name  %>!</h3>
          <p class="mb-2"><%= current_user.user_profile.school_name %> </p>
          <p class="mb-10"><%= current_user.user_profile.school_year %> </p>
        <%= link_to "Edit Profile" , user_profiles_edit_path, class: "btn-main btn-small" %>
        </div>
      </div>
    </div>
    <div class="col-9 text-center d-flex mt-5 flex-column">
      <div class="">
        <p class="motivation-quote ">"<%= @quote["text"] %>"</p>
        <p class="quote-author">-<%= @quote["author"] %>-</p>
      </div>
      <div class="row">
        <% current_user.subjects.each do |subject| %>
          <div class="col-3 mt-4">
            <%= render 'shared/subject_card', color: subject.color, subject:subject %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- subject section with 4 subject cards -->


  <!-- test history card + test results card -->
  <div class="row justify-content-between mt-5 text-start">
    <div class="col-6">
      <h3 class="my-2 white-title">My Test History</h2>
      <div>
        <% if current_user.tests.completed.empty? %>
          <div class="card-test-empty py-2  ">
            <%= "You have not completed any tests yet. 😔" %>
            <br>
            <br>
            <%= "Have a go and you'll see your results here!" %>
          </div>
        <% else %>
          <% current_user.tests.completed.order(created_at: :desc).each do |test| %>
            <%= render 'shared/test_card', test: test %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <h3 class="my-2 white-title">My Test Results</h2>
      <div>
        <% if current_user.tests.completed.empty? %>
          <div class="empty-warning">
            <br>
            <%= "You have not completed any tests yet. 😔" %>
            <br>
            <br>
            <%= "Have a go and you'll see your results here!" %>
          </div>
        <% else %>
          <div class="card">
            <%= line_chart current_user.test_subjects.map { |subject|
              {
                name: subject.name,
                color: subject.color,
                data: current_user.tests.where(subject: subject).group_by_day(:created_at).average(:score).compact
              }
            }, max: 100, ytitle: 'Score', height: "500px"
            %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
