<h1 class="text-center mb-5">ENES Test</h1>

  <%= simple_form_for @test do |f| %>
    <% @test.questions.each_with_index do |question, index| %>
      <%= simple_fields_for :test_answers do |taf| %>
        <%= render 'shared/question_card',
          question: question,
          question_number: index + 1,
          form: taf,
          answer: @test.test_answers.build %>
    <% end %>
  <% end %>

  <div class="container btn-fixing col-10 d-flex justify-content-between fixed-bottom">
    <div class="">
      <%= link_to "Cancel Test", dashboard_path, class: "btn btn-main" %>
    </div>

    <%= f.submit 'Submit Test', class: "btn btn-main" %>
  </div>
<% end %>
