<% if !@test.score.nil? && @test.score >= 75 %>
  <h1 class="text-center mb-3">Congratulations! 😊</h1>
<% elsif !@test.score.nil? && @test.score < 75 && @test.score > 50 %>
  <h1 class="text-center mb-3">Nice try!</h1>
<% elsif !@test.score.nil? && @test.score <= 50%>
  <h1 class="text-center mb-3">Uh oh...😕</h1>
<% else %>
  <h1 class="text-center mb-3">Not all answers submited...😕</h1>
<% end %>


<h2 class="text-center mb-3">
  You got <%= @test.correct_answers %> out of
  <%= @test.test_questions.count %> questions correct for a final score of <%= @test.score %>%.
</h2>

<% if !@test.score.nil? && @test.score >= 75%>
  <h2 class="text-center mb-3">Great job! Keep going! </h2>
<% elsif !@test.score.nil? && @test.score < 75 && @test.score > 50 %>
  <h2 class="text-center mb-3">Plenty of room for improvement! Keep going!</h2>
<% elsif  !@test.score.nil? && @test.score <= 50%>
  <h2 class="text-center mb-3">Not a great result - time to do another test!</h2>
<% else %>
  <h2 class="text-center mb-3">Submit all the questions</h2>
<% end %>

<div class="result-answer">
  <%= render 'shared/results_card', test_answers: @test.test_answers %>
</div>


<div class="fixed-bottom bottom-button-bar">
  <div class="container m-auto">
    <div class="row justify-content-center pb-3 pt-3">
      <div class="col-8">
        <div class="d-flex justify-content-between">
          <%= link_to "Take another Test", dashboard_path, class: "btn btn-main" %>
          <%= link_to "Go Home", dashboard_path, class: "btn btn-second" %>
        </div>
      </div>
    </div>
  </div>
</div>
