<%= if @test.score >= 75%>
  <h1 class="text-center mb-5">Congratulations!</h1>
<%= else @test.score < 75 && @test.score > 50 %>
  <h1 class="text-center mb-5">Nice try!</h1>
<%= else @test.score <= 50%>
  <h1 class="text-center mb-5">Uh oh...😕</h1>
<%= end %>

<h2 class="text-center mb-5">
  You got <%= @test.correct_answers %> out of
  <%= @test.test_questions.count %> questions correct for a final score of <%= @test.score %>%.
</h2>

<%= if @test.score >= 75%>
  <h1 class="text-center mb-5">Great job! Keep going! </h1>
<%= else @test.score < 75 && @test.score > 50 %>
  <h1 class="text-center mb-5">Plenty of room for improvement! Keep going!</h1>
<%= else @test.score <= 50%>
  <h1 class="text-center mb-5">Not a great result - time to do another test!</h1>
<%= end %>

<div class="result-answer">
  <%= render 'shared/results_card', test_answers: @test.test_answers %>
</div>

<div class="container btn-fixing col-10 d-flex justify-content-end fixed-bottom">
   <div class="">
    <%= link_to "Go Home", dashboard_path, class: "btn-main" %>
  </div>
</div>
